body {
  padding: 0;
  margin: 0;
  height: 100%;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  filter: brightness(90%);
  font-family: 'Nunito', sans-serif;
}
.container {
  min-height: 100%;
  margin-bottom: -20px;
}
a {
  text-decoration: none
}